/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- PAGE LEVEL ------------- */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  vertical-align: middle;
  display: table-cell;
  
}

a {
  color: #00B7FF;
}

.clearfix {
    overflow: auto;
}

.full-car {
	background-color: #EFEFF2;
	width: 1024px;

}

/* -------- TYPE AND COLOR -------- */


h1 { font-size: 36px; font-weight: 700; }
h2 { font-size: 20px; 									}
h3 { font-size: 18px; 									}
h4 { font-size: 14px; 									}
h5 { font-size: 12px; 									}
h6 { font-size: 10px;										}
.bold { font-weight: 700; 							}
.medium {font-weight: 500; 							}


.light-green { color: #3fb34a;	}
.dark-green { color: #106838;		}
.light-gray { color: #efeff2;		}
.white { color: #ffffff; 				}
.black { color: #000000;				}
.dark-gray { color: #343434;		}
.medium-gray { color: #9b9b9b;	}
.tomato	{ color: #ec4f38;   		}
.orange { color: #f88200;      	}


/* -------- HEADER BAR -------- */

.nav-bar-black {
	width: 841px;
	height: 56px;
	float: left;
	background-color: black;
}


.nav-bar-orange {
	width: 60px;
	height: 56px;
	float: left;
	background-color: orange;
	border-right: 1px solid #ffffff;
	transform: skewX(-20deg);
}


.nav-bar-orange:nth-child(2) {
		margin-left: -10px;
	}

.nav-bar-orange:nth-child(4) {
		border-right: none;
	}

.orange-corner {
	width: 60px;
	height: 56px;
	float: left;
	margin-left: -49px;
	background-color: orange;
}


/* -------- MAIN IMAGE AND SIDEBAR -------- */



.main-car-image {
	float: left;
	height: 432px;
	width: 728px;
}

.sideBar {
	width: 256px;
	height: 171px;
	clear: right;
	float: right;
	padding-left: 40px;
	background-color: #ffffff;
}

.sideBar-title {
	height: 60px;
	margin-bottom: 16px;
}

.sidebar-label {
	margin-bottom: 8px;
	margin-top: 16px;

}

.car-name {
	padding-top: 40px;
	padding-bottom: 32px;
}


.vin-info {
	margin-top: 8px;

}

.side-bar-share {
	margin-top: 32px;
	margin-bottom: 0px;
	font-size: 12px;
}

.bottom {
	height: 185px;
	background-color: #ffffff;
}

.social-proof {
	height: 40px;
	width: 40px;
	float: left;
	margin-top: 32px;
	margin-right: 16px;
	text-align: center;
}

.social-label {
	margin-bottom: 4px;
}



/* -------- THUMBNAILS -------- */

.car-images {
	padding-top: 32px;
	margin-bottom: 24px;
	clear: left;

}

.image-gallery {
	margin-right: 1px;
	width: 169px;
	height: 168px;
}

.image-gallery:last-child {
	width: 173px;
}

.call {
	display: none;
	width: 320px;
	height: 60px;
	margin-top: 16px;
	margin-bottom: 16px;
	background-color: #106838;
}


/* -------- AUTO SPEC CARDS -------- */

.car-info-div {
	height: 266px;
	width: 480px;
	margin-left: 40px;
	float: left;
	background-color: white;
	margin-bottom: 40px;
}

.car-info-div:nth-child(odd) {
	margin-left: 32px;
}

.car-info-div:nth-child(even) {
	margin-left: 8px;
}

table {
	margin: 40px 40px 0px 40px;
	width: 400px;
}

td {
	padding-top: 12px;
	padding-bottom: 12px;
}

tr {
	border-bottom: 1px solid #EFEFF2;
}

tr:last-child {
	border: none;
}

td:first-child {
	width: 280px;
}

td.car-info-details:nth-child(even) {
	text-align: left;
}

.car-info-heading {
	text-align: left;
	padding-bottom: 0px;
	padding-top: 0px;
}



.footer {
	width: 1024px;
	height: 86px;
	background-color: black;
	display: none;
}




@media (max-width: 480px) {
   
    .full-car {
    	width: 320px;
    }

    .nav-bar-black {
    	width: 218px;
    	float: left;
    }

    .nav-bar-orange {
    	width: 50px;
    }

    .nav-bar-orange:nth-child(3) {
    	display: none;
    }


    .main-car-image {
    	width: 320px;
    	height: 256px;
    	float: none;
    	clear: both;
    }

    .car-images {
    	display: none;

    }

    .sideBar {
    	width: 320px;
    	/*clear: both;*/
    	margin-left: 0px;
    	float: none;
    	padding-left: 0px;

    }

    .sidebar-label {
			margin-bottom: 8px;
			margin-top: 16px;

		}

		.social-proof {
			margin-top: 24px;
		}

   .hide {
   	display: none;
   }

    table {
    	margin: 0px;
    	width: 260px;
    	float: none;
    }

    .clearfix {
    	width: 320px;
    }

    .sideBar-title {
    	width: 320px;
    	float: none;
    	margin-left: 40px;

    	/*padding-top: 24px;*/
    }

    .car-name {
    	padding-top: 32px;
    	padding-bottom: 16px;
    }

    .top {
    	width: 140px;
    	height: 196px;
    	float: left;
    	padding-left: 40px;

    }

    .bottom {
    	height: 196px;
    }
		
		.item {
    	margin-top: 55px;
    }
    
    h3.dark-gray {
    	font-size: 14px;
    }

    h5.side-bar-share {
    	margin-top: 24px;
    }

    
    .vin-info {
    	font-size: 11px;
    }

    .call {
			display: block;
			border-top: 16px solid #efeff2;
			clear: both;
		}

    .car-info-div {
    	margin: 0px;
    	float: none;
    }

    .car-info-div:nth-child(odd) {
    	margin: 0px;
    }

    .car-info-div:nth-child(even) {
    	margin: 0px;
    }

   	.footer {
			width: 320px;
			height: 86px;
			background-color: black;
			display: block;
			float: none;
			
		}

}