/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*End Reset*/

.clearfix {
    overflow: auto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  display: table-cell;
  
}


a {
  color: #00B7FF;
}


.full-car {
	background-color: #EFEFF2;
	width: 1024px;

}

.car-images {
	margin-top: 32px;
	margin-bottom: 24px;
	clear: left;

}

.image-gallery {
	border: 1px solid #ffffff;


}


.car-info-details-engine {
	border-bottom: none;
	color: #9B9B9B;
	padding-top: 16px;

}

.car-info-div {
	height: 266px;
	width: 480px;
	float: left;
	background-color: white;
	margin-bottom: 40px;
}

.car-info-div:nth-child(odd) {
	margin-left: 32px;
}

.car-info-div:nth-child(even) {
	margin-left: 8px;
}

h4.car-info-heading {
	font-family: 'HelveticaNeue';
	font-weight: bold;
	font-size: 18px;
	color: #9B9B9B;
	margin-bottom: 8px;
}

.car-name {
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 32px;
	font-size: 18px; 
}

h4.header {
	font-family: 'HelveticaNeue';
	font-size: 18px;
	color: #343434;
	font-weight: bold;
}

.header-side-bar {
padding-bottom: 18px; 
font-weight: bold;
font-family: 'HelveticaNeue';
font-size: 18px;
color: #343434;
}


.vin-info {
	padding-top: 0px;
	color: #9B9B9B;
	margin-bottom: 0px;


}

.item-num {
	padding-bottom: 8px;
	font-family: 'HelveticaNeue';
}

.header-title {
	color: #9B9B9B;
	font-family: 'HelveticaNeue';
	padding-bottom: 9px;
	font-size: 12px;

}

td.car-info-details {
	padding-bottom: 12px;
	padding-top: 12px;
}

tr {
	border-bottom: 1px solid #EFEFF2;
}

tr:last-child {
	border: none;
}



/*td.car-info-details:nth-child(odd) {
	width: 240px;
}*/


td.car-info-details:nth-child(even) {
	width: 160px;
	padding-right: 130px;
	text-align: right;
}


.first-heading {
	padding-top: 0px;
}

.car-info-details {
	color: #9B9B9B;
}


.car-info-table {
	margin: 40px 40px 0px 40px;
}

.main-car-image {
	float: left;
	height: 432px;
	width: 728px;
}

.side-bar-info {
	clear: right;
}

.sideBar {
	width: 254px;
	height: 430px;
	clear: right;
	float: right;
	padding-left: 40px;
	background-color: white;

}

.sidebar-icons {
	color: #9B9B9B;
	font-size: 12px;
}

.side-bar-share {
	margin-top: 32px;
	margin-bottom: 10px;
	font-size: 12px;
}

.nav-bar {
	width: 1024px;
	height: 56px;
	background-color: black;
}



.footer {
	width: 1024px;
	height: 86px;
	background-color: black;
	display: none;
}

.info-border {
	border-bottom: solid black 1px;

}



@media (max-width: 480px) {
   
    .car-images {
    	display: none;
    }

    .nav-bar {
    	width: 320px;
    }

    .full-car {
    	width: 320px;
    }

    .car-info-div {
    	width: 320px;
    	clear: both;
    }

    .side-bar-info {
    	width: 320px;
    	clear: both;
    }

    .main-car-image {
    	width: 320px;
    	height: 256px;
    	clear: both;
    }

   	.footer {
			width: 1024px;
			height: 86px;
			background-color: black;
			
		}

}